body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1854; /* deep navy */
  color: #E0E0E0;
}
.navbar {
  transition: all 0.3s ease-in-out;
  background :linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(75,0,130,0.6));
  height: 70px;
}

.navbar-brand {
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#hero {
  background: linear-gradient(to right, #a8e063, #56ab2f);
  color: white;
  padding: 80px 20px;
  text-align: center;
}
#hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

#hero p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}
#video iframe {
  border: 2px solid #198754;
  border-radius: 10px;
}
footer, #contact {
  background-color: #eaf7ea;
  padding: 50px 20px;
  text-align: center;
}
#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  background-color: #27076d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
  .bg-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none; 
}

.overlay {
  background-color: rgba(75, 0, 130, 0.6); 
} 




