body{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}
.box1{
    height: 100px;
    width: 125px;
    border: solid 2px rgb(80, 83, 79);
    float: left;
    margin: 5px;
}
.box{
    height: 100px;
    width: 125px;
    float: left;
    border: solid 2px white;
    margin: 5px;
    
}
div{
    width: 600px;
}
p{
    align-items: center;
    font-family: sans-serif;
    margin: 50px;
}